# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
$RECYCLE.BIN/


/Capitulo_2/Final/miapp/.idea/
/Capitulo_2/Final/miapp/.sourcemaps/
/Capitulo_2/Final/miapp/.sass-cache/
/Capitulo_2/Final/miapp/.tmp/
/Capitulo_2/Final/miapp/.versions/
/Capitulo_2/Final/miapp/coverage/
/Capitulo_2/Final/miapp/dist/
/Capitulo_2/Final/miapp/node_modules/
/Capitulo_2/Final/miapp/tmp/
/Capitulo_2/Final/miapp/temp/
/Capitulo_2/Final/miapp/hooks/
/Capitulo_2/Final/miapp/platforms/
/Capitulo_2/Final/miapp/plugins/
/Capitulo_2/Final/miapp/plugins/android.json
/Capitulo_2/Final/miapp/plugins/ios.json
/Capitulo_2/Final/miapp/www/
/Capitulo_2/Final/miapp/$RECYCLE.BIN/

/Capitulo_3/Final/miapp/.idea/
/Capitulo_3/Final/miapp/.sourcemaps/
/Capitulo_3/Final/miapp/.sass-cache/
/Capitulo_3/Final/miapp/.tmp/
/Capitulo_3/Final/miapp/.versions/
/Capitulo_3/Final/miapp/coverage/
/Capitulo_3/Final/miapp/dist/
/Capitulo_3/Final/miapp/node_modules/
/Capitulo_3/Final/miapp/tmp/
/Capitulo_3/Final/miapp/temp/
/Capitulo_3/Final/miapp/hooks/
/Capitulo_3/Final/miapp/platforms/
/Capitulo_3/Final/miapp/plugins/
/Capitulo_3/Final/miapp/plugins/android.json
/Capitulo_3/Final/miapp/plugins/ios.json
/Capitulo_3/Final/miapp/www/
/Capitulo_3/Final/miapp/$RECYCLE.BIN/

/Capitulo_4/finales/bbdd/.idea/
/Capitulo_4/finales/bbdd/.sourcemaps/
/Capitulo_4/finales/bbdd/.sass-cache/
/Capitulo_4/finales/bbdd/.tmp/
/Capitulo_4/finales/bbdd/.versions/
/Capitulo_4/finales/bbdd/coverage/
/Capitulo_4/finales/bbdd/dist/
/Capitulo_4/finales/bbdd/node_modules/
/Capitulo_4/finales/bbdd/tmp/
/Capitulo_4/finales/bbdd/temp/
/Capitulo_4/finales/bbdd/hooks/
/Capitulo_4/finales/bbdd/platforms/
/Capitulo_4/finales/bbdd/plugins/
/Capitulo_4/finales/bbdd/plugins/android.json
/Capitulo_4/finales/bbdd/plugins/ios.json
/Capitulo_4/finales/bbdd/www/
/Capitulo_4/finales/bbdd/$RECYCLE.BIN/

/Capitulo_5/final/comunicaciones/.idea/
/Capitulo_5/final/comunicaciones/.sourcemaps/
/Capitulo_5/final/comunicaciones/.sass-cache/
/Capitulo_5/final/comunicaciones/.tmp/
/Capitulo_5/final/comunicaciones/.versions/
/Capitulo_5/final/comunicaciones/coverage/
/Capitulo_5/final/comunicaciones/dist/
/Capitulo_5/final/comunicaciones/node_modules/
/Capitulo_5/final/comunicaciones/tmp/
/Capitulo_5/final/comunicaciones/temp/
/Capitulo_5/final/comunicaciones/hooks/
/Capitulo_5/final/comunicaciones/platforms/
/Capitulo_5/final/comunicaciones/plugins/
/Capitulo_5/final/comunicaciones/plugins/android.json
/Capitulo_5/final/comunicaciones/plugins/ios.json
/Capitulo_5/final/comunicaciones/www/
/Capitulo_5/final/comunicaciones/$RECYCLE.BIN/

/Capitulo_6/finales/comunicaciones/notifications/.idea/
/Capitulo_6/finales/comunicaciones/notifications/.sourcemaps/
/Capitulo_6/finales/comunicaciones/notifications/.sass-cache/
/Capitulo_6/finales/comunicaciones/notifications/.tmp/
/Capitulo_6/finales/comunicaciones/notifications/.versions/
/Capitulo_6/finales/comunicaciones/notifications/coverage/
/Capitulo_6/finales/comunicaciones/notifications/dist/
/Capitulo_6/finales/comunicaciones/notifications/node_modules/
/Capitulo_6/finales/comunicaciones/notifications/tmp/
/Capitulo_6/finales/comunicaciones/notifications/temp/
/Capitulo_6/finales/comunicaciones/notifications/hooks/
/Capitulo_6/finales/comunicaciones/notifications/platforms/
/Capitulo_6/finales/comunicaciones/notifications/plugins/
/Capitulo_6/finales/comunicaciones/notifications/plugins/android.json
/Capitulo_6/finales/comunicaciones/notifications/plugins/ios.json
/Capitulo_6/finales/comunicaciones/notifications/www/
/Capitulo_6/finales/comunicaciones/notifications/$RECYCLE.BIN/

/Capitulo_7/finales/geo/.idea/
/Capitulo_7/finales/geo/.sourcemaps/
/Capitulo_7/finales/geo/.sass-cache/
/Capitulo_7/finales/geo/.tmp/
/Capitulo_7/finales/geo/.versions/
/Capitulo_7/finales/geo/coverage/
/Capitulo_7/finales/geo/dist/
/Capitulo_7/finales/geo/node_modules/
/Capitulo_7/finales/geo/tmp/
/Capitulo_7/finales/geo/temp/
/Capitulo_7/finales/geo/hooks/
/Capitulo_7/finales/geo/platforms/
/Capitulo_7/finales/geo/plugins/
/Capitulo_7/finales/geo/plugins/android.json
/Capitulo_7/finales/geo/plugins/ios.json
/Capitulo_7/finales/geo/www/
/Capitulo_7/finales/geo/$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
